@import "../../../bower_components/bootstrap-less/less/variables.less";

/* Space out content a bit */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  color: black !important;
  background-color: #efefef;
  font-family: 'Roboto Condensed', sans-serif !important;
  background-image: url('https://www.coingecko.com/assets/coin-250/vertcoin-b63026f955f22f76352c482f8369480b0390175a2a01228d5b0f205502306915.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 99px;
  background-size: 82px;
}

.header {
  padding-bottom: 20px;
  text-align: center;
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}

.footer {
  padding-top: 19px;
  color: #000;
  border-top: 1px solid #e5e5e5;
  .dark {
    color: #a5a5a5 !important;
    border-top: 1px solid #a5a5a5 !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
}

.wrapper-top {
  display: inline-block;
  width: 100%;
  .legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 21px;
    line-height: 40px;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    float: left;
    &.dark {
      border-bottom: 1px solid #4a4a4a !important;
    }
    .form-control {
      float: left;
      margin-left: 15px;
      border: 1px solid #ececec;
      margin-top: 3px;
      border-radius: 0;
      width: 50px;
      padding: 5px 12px;
      height: 30px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &.dark {
        border: 1px solid #a5a5a5 !important;
        background-color: #101010 !important;
        color: #a5a5a5 !important;
      }
    }
    span {
      font-size: 12px;
    }
  }
}

.dark-g {
  color: #A5A5A5;
  background-color: #101010;
}

.light-g {
  color: black;
  background-color: white;
}

@import "bootstrap";
@import "widget";
@import "icons";